body {
	font-size: 16px;
	background: rgba(188, 210, 238, 0.4);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}


/*返回顶部*/

.top {
	position: fixed;
	top: 80%;
	right: 20px;
}

#top-btn {
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
}

#top-btn:hover {
	background: rgba(238, 169, 184, .5);
}

/*搜索框*/

.note-container .search .form-group {
	margin-top: 20px;
}

.note-container .search #search-input{
	width: 100%;
	height: 40px;
}

.note-container .search .form-control:focus {
	border-color: #CD9B9B;
	box-shadow: 3 1px 1px rgba(139, 101, 8, 0.5);
}

.note-container .search #search-btn{
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	padding: 0 12px;
}

.note-container .search #search-btn:hover{
	background: rgba(255, 193, 193, 0.5);
	outline: none;
}


/*省市*/

.note-container .search .province-city {
	border: 1px solid #ccc;
	background: #fff;
	padding: 15px;
	height: 200px;
	overflow: auto;
	display: none;
}

.note-container .search .province-city .city {
	display: none;
}

.note-container .search .province-city dl {
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.note-container .search .province-city dt {
	margin-bottom: 10px;
}

.province-city .city dt span:first-child {
	color: #8B636C;
	margin-right: 5px;
}

.province-city .city dt .current-province {
	margin-left: 5px;
}

.note-container .search .province-city dd {
	display: inline-block;
	float: left;
	width: 20%;
	margin-bottom: 10px;
	color: #828282;
}

.note-container .search .province-city dd:hover {
	color: #000;
	text-decoration: underline;
}
/*分割线*/
hr {
	border-top: 1px solid #363636;
}
/*游记导航*/
.note-container .note-nav{
	padding-bottom: 20px;
}
.note-container .note-nav a{
	color: #8B636C;
    margin-right: 5px;
    font-weight: 600;
}
/*游记列表*/
.note-container a{
	color: #363636;
}
.note-list-part .note .thumbnail{
	background:#EEE9E9;
	width:100%;
}
.note-list-part .note .note-left a,.note-list-part .note .note-right .note-detail{
	padding: 7px;
}
.note-list-part .note .note-left>a{
	display: block;
	width: 100%;
	height:160px;
}
.note-list-part .note .note-left>a>img{
	width: 100%;
	height: 100%;
}
.note-list-part .note .note-right .note-detail .note-title{
	display: block;
	margin-bottom: 7px;
	font-size: 18px;
	font-weight: 550;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.note-list-part .note .note-right .note-detail .note-title:hover{
	color: #8B636C;
}
.note-list-part .note .note-right .note-detail .note-content{
	margin-bottom:10px;
	font-size: 14px;
	color: #666;
	line-height:1.5;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.note-list-part .note .note-right .note-detail .note-info>div{
	margin-bottom: 5px;
}
.note-list-part .note .note-right .note-detail .note-info .info1>div,
.note-list-part .note .note-right .note-detail .note-info .info2>div{
	margin-right: 10px;
	display: inline-block;
}
.note-list-part .note .note-right .note-detail{
	color: #666;
	font-size: 12px;
}
.note-list-part .note .note-right .note-detail .note-info i{
	font-size: 16px;
}
.note-list-part .note .note-right .note-detail .note-info .note-user>img{
	display:inline-block;
	width:20px;
	height:20px;
	margin: 0 5px;
}
.note-list-part .note .note-right .note-detail .note-info .note-user>a{
	color:#68228B;
}
.note-list-part .note .note-right .note-detail .note-info .note-user>a:hover{
	text-decoration: underline;
}

.note-container .more {
	border-radius: 5px;
	padding: 10px 0;
	color: #8B8682;
	background: #E8E8E8;
}

.note-container .more i {
	font-size: 16px;
}